{% extends 'layout.html.twig' %}

{% block title %}{% endblock %}

{% block main %}
<main class="container-fluid">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3">Veuillez vous connecter :</h1>

        <label for="inputUsername">Nom d'utilisateur</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="login-username form-control" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="bouton mt-3 mb-3 btn" type="submit">
            Se connecter
        </button>
    </form>
</main>
{% endblock %}
