{% extends 'layout.html.twig' %}

{% block title %}Admin - Index activités{% endblock %}

{% block main %}
    <section class="admin-activity-index container mt-5">
        <div class="row justify-content-between">
            <h1 class="ml-3 mt-4 mb-5">Administration - Index des activités</h1>
            <a class="btn btn-primary mr-3 my-auto" href="{{ path('admin_activity_new') }}">Ajouter activité</a>
        </div>
        <table class="table table-hover">
            <thead class="table-primary">
            <tr>
                <th><i class="fas fa-briefcase mr-2"></i>Activité</th>
                <th class="text-center"><i class="fas fa-user-clock mr-2"></i>Temps dédié</th>
                <th class="text-center" colspan="2"><i class="fas fa-cog mr-2"></i>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for activity in activities %}
                <tr>
                    <td>{{ activity.name }}</td>
                    <td class="text-center">{{ activity.hours }}h {{ activity.minutes }}m</td>
                    <td class="text-right">
                        <a href="{{ path('admin_activity_edit', {'id': activity.id}) }}"><i class="fas fa-edit"></i></a>
                    </td>
                    <td class="text-left">
                        {{ include('admin_activity/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune activité recensée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}
