<section class="manuals container-fluid">

    <h1 class="mt-5 text-center">Bienvenue sur l'espace administrateur</h1>

    <img class="logo-edit mt-5" src="{{ asset('build/images/edit.png') }}" alt="Logo-Cotoit">

    <div class="row">

        <div class="card col mx-3 px-0 col-5 mb-5 ml-5 mt-5 text-center">
                <div class="card-body">
                    <a href="{{ path('admin_activity_index') }}" class="card-text">Modifier les activités</a>
                </div>
            </div>

            <div class="card col mx-3 px-0 col-5 mb-5 ml-5 mt-5 text-center">
                <div class="card-body">
                    <a href="{{ path('admin_manual_index') }}" class="card-text">Modifier le manuel</a>
                </div>
            </div>

            <div class="card col mx-3 px-0 col-5 mb-5 ml-5 mt-5 text-center">
                <div class="card-body">
                    <a href="{{ path('admin_hourlyRate_edit', {'id': hourlyRate.id}) }}" class="card-text">Modifier le taux horaire</a>
                </div>
            </div>

            <div class="card col mx-3 px-0 col-5 mb-5 ml-5 mt-5 text-center">
                <div class="card-body">
                    <a href="{{ path('admin_user_index') }}" class="card-text">Modifier les identifiants</a>
                </div>
            </div>
    </div>
</section>
