<div class="non-profitable-condo mt-5">
    <div class="d-flex align-items-center my-2">
        <img src="{{ asset('build/images/attention.png') }}" alt="attention">
        <h3 class="ml-3">Les copropriétés non rentables</h3>
    </div>
    {% if app.session.get('nonProfitableCondos') is not empty %}
        <table class="table table-hover">
            <thead class="table-primary">
            <tr>
                <th>Copropriété</th>
                <th class="text-center">Pertes</th>
                <th class="text-center">Coût total copropriété</th>
                <th>Activité</th>
                <th class="text-center">Pourcentage du coût total</th>
            </tr>
            </thead>
            <tbody>
            {% for non_profitable_condo_name, non_profitable_condo in  app.session.get('nonProfitableCondos')  %}
                <tr>
                    <td rowspan="4">{{ non_profitable_condo_name }}</td>
                    <td rowspan="4" class="text-center">{{ non_profitable_condo.profit|number_format(2, '.', ' ') }} €</td>
                    <td rowspan="4" class="text-center">{{ non_profitable_condo.totalCost|number_format(2, '.', ' ') }} €</td>
                </tr>
                {% for activity_name, activity_percentage in non_profitable_condo.activities %}
                    <tr>
                        <td>{{ activity_name }}</td>
                        <td class="text-center">{{ activity_percentage|number_format(1, '.') }} %</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune copropriété n'est non rentable</p>
    {% endif %}
</div>
